[Desktop Entry]
Name=Fegeya PyImafe
Exec=pyimafe %U
Icon=/usr/share/pixmaps/imafe/imafe.png
Type=Application
Categories=GTK;GNOME;Viewer;ImageProcessing;
Terminal=false
